{% extends "account/base.html" %}
{% block title %} Change Password {% endblock %}

{% block form_heading %} Change Password {% endblock %}
{% block content %}
	 
	<div>
	    <!-- === Form Error Message Display === -->
          <div class="error-texts">
            {% if form.errors %}
              {% for error in form.errors.values %}
                {{ error }}
              {% endfor %}
            {% endif %}
          </div>
      
		<form id="auth-form" action="" method="post">
		{% csrf_token %}
			{{ form.new_password1 }}
			{{ form.new_password2 }}
			<br>
			<button  type="submit" class="auth-btn">Reset Password</button>
		</form>
	</div>

{% endblock %}