{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
  <title>Auctioneer: Sign In</title>
</head>
<body>
  <div class="main-wrapper">
    <div class="form-wrapper">
      <h2 class="heading">Login To Your Account</h2>
      
      <!-- === Form Error Message Display === -->
      <div class="error-texts">
        {% if form.errors %}
          {% for error in form.errors.values %}
            {{ error }}
          {% endfor %}
        {% endif %}
        
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      </div>
      
      <!-- === Login Form === -->
      <form id="auth-form" method="post">
      {% csrf_token %}
        {{ form.username }}
        <div class="password-field">
             {{ form.password }}
            <i class="bi bi-eye-slash" id="eye"></i>
        </div>
        <div class="left-align">
            <a href="{% url 'password_reset' %}" id="forgot-password"><i>Forgot Password?</i></a>
        </div>
        <button type="submit" class="auth-btn">Sign In</button>
      </form>
      
      <span class="form-footer">Not signed up yet? <a href="{% url 'account:signup' %}">Sign Up</span>
      
    </div>
  </div>
  
  <script src="{% static 'js/eye-toggler.js' %}"></script>
</body>
</html>