{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{% block title %} {% endblock %}</title>
</head>
<body>
  <!-- Nav Section -->
  <nav>
    <a href="{% url 'auction:home' %}">Auctioneer</a>
    <i id="nav-toggler" class="bi bi-list disp-only-sm"></i>
    <div class="nav-links" id="nav-links">
      <a href="#!">
        <i class="bi disp-only-sm"></i>
        <span>Auction</span>
      </a>
      <a href="{% url 'auction:cart_details' %}">
        <i class="bi bi-cart disp-only-sm"></i>
        <span>Lots</span>
      </a>
      <a href="#!">
        <i class="bi disp-only-sm"></i>
        <span>Checkout</span>
      </a>
      {% if not request.user.is_authenticated %}
      <a href="{% url 'account:signin' %}">
        <i class="bi disp-only-sm"></i>
        <span>Login</span>
      </a>
      {% else %}
      <a href="{% url 'account:signout' %}">
        <i class="bi disp-only-sm"></i>
        <span>Logout</span>
      </a>
      {% endif %}
      <a href="https://github.com/codewitgabi/auctioneer">
        <i class="bi bi-github disp-only-sm"></i>
        <span>Github</span>
      </a>
    </div>
  </nav>
  <!-- End Nav Section -->

  {% block content %}

  {% endblock %}

  <!-- === Newsletter === -->
  <div class="newsletter">
    <legend>Subscribe to our newsletter to get updates on upcoming auctions.</legend>
    <form action="" method="post">
      <input
      type="email"
      id="email"
      name="email"
      placeholder="Enter Email Address..."
      required />
    </form>
  </div>

  <!-- === Footer === -->
  <footer>
    <div class="icons-display">
      <a href="#!">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="#!">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="#!">
        <i class="bi bi-github"></i>
      </a>
      <a href="#!">
        <i class="bi bi-gmail"></i>
      </a>
    </div>
    <legend>Built by codewitgabi &copy;2023</legend>
  </footer>
  
  <!-- === Script === -->
  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>