{% extends "auction/base.html" %} 
{% block title %} Auctioneer: Cart {% endblock %}


{% block content %}
<section class="main mob-mrg-top">
  <div class="cart-display">
    <table>
      <thead>
        <tr>
          <th>S/N</th>
          <th>Lot</th>
          <th>Image</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for item in request.user.lot_set.all %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ item.name }}</td>
          <td><img src="{{ item.lotimage_set.all.first.image.url }}" alt="lot-img"></td>
          <td>$ {{ item.price|floatformat:"-3g" }}</td>
        </tr>

        {% empty %}
          <h3>No won lot yet!</h3>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if request.user.lot_set.all %}
    <a href="{% url 'auction:checkout' %}" class="checkout-btn rdc">
      <span>Proceed To Checkout</span>
      <i class="bi bi-arrow-right"></i>
    </a>
  {% else %}
  <a href="{% url 'auction:home' %}" class="checkout-btn rdc">
    <i class="bi bi-arrow-left"></i>
    <span>Continue Bidding</span>
  </a>
  {% endif %}
</section>
{% endblock %}
