{% extends "auction/base.html" %} 
{% block title %} Auctioneer: Cart {% endblock %}


{% block content %}
<div class="cart-container">
  <div class="cart-wrapper">
    {% for item in request.user.lot_set.all %}
    <div class="cart-box">
      <img src="{{ item.lotimage_set.all.first.image_url}}" alt="lot-image" />
      <div class="group">
        <p class="lot-name">{{ item.name }}</p>
        <p class="lot-price">$ {{ item.price|floatformat:"-3g" }}</p>
      </div>
    </div>
    {% empty %}
    <h3>No won lot yet!</h3>
    {% endfor %}
  </div>
  <a href="#!">Proceed To Checkout</a>
</div>
{% endblock %}
