{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <title>Auction</title>
</head>
<body>
  <!-- Nav Section -->
  <nav>
    <a href="{% url 'auction:home' %}">Auctioneer</a>
    <div class="nav-links" id="nav-links">
      <svg id="close-menu" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 0 2 L 0 4 L 24 4 L 24 2 Z M 0 11 L 0 13 L 24 13 L 24 11 Z M 0 20 L 0 22 L 24 22 L 24 20 Z"/></svg>
      <a href="#!">Auction</a>
      <a href="#!">Lots</a>
      <a href="#!">Checkout</a>
      {% if not request.user.is_authenticated %}
        <a href="{% url 'account:signin' %}">Login</a>
      {% else %}
        <a href="#!">Logout</a>
      {% endif %}
      <a href="https://github.com/codewitgabi/spin-bet">Github</a>
    </div>
    <svg id="open-menu" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 0 2 L 0 4 L 24 4 L 24 2 Z M 0 11 L 0 13 L 24 13 L 24 11 Z M 0 20 L 0 22 L 24 22 L 24 20 Z"/></svg>
  </nav>
  <!-- End Nav Section -->
  
  <!--  Main Section -->
  <section class="main">
    <h1 class="header">Auctioneer!</h1>
    <p class="intro-text">Welcome to our esteemed auction site, where the thrill of bidding meets the convenience of modern technology. Here, we invite you to embark on a captivating journey through a virtual world of treasures, where remarkable items from around the globe await your discovery and ownership.</p>
    <p class="intro-text">
      At our auction site, we are dedicated to connecting passionate collectors, discerning enthusiasts, and connoisseurs with an unparalleled selection of extraordinary items. Whether you seek rare works of art, exquisite jewelry, vintage automobiles, memorabilia from your favorite celebrities, or unique artifacts that hold a piece of history, our virtual halls are filled with an eclectic array of offerings to satisfy even the most discerning tastes.
    </p>
    <p class="intro-text">
      With a user-friendly interface and intuitive navigation, our auction site ensures a seamless and immersive experience for both buyers and sellers. From the comfort of your home or while on the go, you can explore our vast catalog, peruse detailed descriptions and high-resolution images, and participate in bidding wars with ease. Our platform provides a secure environment, protecting your personal information and facilitating transparent transactions.
    </p>
    <a href="#!" id="get-started">Get Started</a>
  </section>
  <!--  End Main Section -->
  
  <!-- Lots Section -->
  <section class="lots">
    <h2>Upcoming Auctions</h2>
    <div class="row">
      <div class="col">
        <img src="./images.png" alt="">
        <legend class="lot-title">Kumusaki Jingerie</legend>
        <p class="lot-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eos dignissimos, maxime. Corrupti cumque nemo maiores sequi minus velit esse ex amet obcaecati perspiciatis accusantium, repellendus, quas error soluta non?</p>
        <span class="lot-price">$500,000</span>
        <br>
        <button><a href="#!">Start Bidding</a></button>
      </div>
      <div class="col">
        <img src="./images.png" alt="">
        <legend class="lot-title">Kumusaki Jingerie</legend>
        <p class="lot-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eos dignissimos, maxime. Corrupti cumque nemo maiores sequi minus velit esse ex amet obcaecati perspiciatis accusantium, repellendus, quas error soluta non?</p>
        <span class="lot-price">$500,000</span>
        <br>
        <button><a href="#!">Start Bidding</a></button>
      </div>
      <div class="col">
        <img src="./lot.jpeg" alt="">
        <legend class="lot-title">Kumusaki Jingerie</legend>
        <p class="lot-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eos dignissimos, maxime. Corrupti cumque nemo maiores sequi minus velit esse ex amet obcaecati perspiciatis accusantium, repellendus, quas error soluta non?</p>
        <span class="lot-price">$500,000</span>
        <br>
        <button><a href="#!">Start Bidding</a></button>
      </div>
      <div class="col">
        <img src="./images.png" alt="">
        <legend class="lot-title">Kumusaki Jingerie</legend>
        <p class="lot-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eos dignissimos, maxime. Corrupti cumque nemo maiores sequi minus velit esse ex amet obcaecati perspiciatis accusantium, repellendus, quas error soluta non?</p>
        <span class="lot-price">$500,000</span>
        <br>
        <button><a href="#!">Start Bidding</a></button>
      </div>
    </div>
  </section>
  <!-- End Lots Section -->
  
  <!-- Email Subscription -->
  <div class="sub-wrapper">
    <p>Subscribe to our newsletter to get updates on upcoming auctions.</p>
    <form id="sub-form">
      <input type="email" name="email" placeholder="Enter a Valid Email Address" required>
      <button type="submit" id="sub-btn">Subscribe</button>
    </form>
  </div>
  <!-- End Email Subscription -->
  
  <footer>
    <span>Developed by codewitgabi, 2023</span>
  </footer>
  
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>