{% extends "auction/base.html" %}
{% block title %} {{ lot.name }} Bid {% endblock %}

{% block content %}

<section class="main">
  {{ lot.id|json_script:"lot_id" }}
  <div class="bid-wrapper">
    <img src="{{ lot.lotimage_set.all.first.image_url }}" alt="lot-img" />
    <h1>{{ lot.name }}</h1>
    <p class="lot-desc">{{ lot.description }}</p>
    <div class="bids-display">
      <table>
        <thead>
          <tr>
            <td class="sn">S/N</td>
            <td>Bidders</td>
            <td>Bids</td>
          </tr>
        </thead>
        <tbody id="bidders-display-box"></tbody>
      </table>
    </div>
    <button id="bid-btn" class="bid-incrementer">
      Place Bid +$ {{ lot.increment|floatformat:"-3g" }}
    </button>
    <input
      type="number"
      placeholder="Enter a larger bid..."
      id="bid-move-amt" />
  </div>
</section>

<script>
  let protocol = "ws:";
  const lot_id = JSON.parse(document.getElementById("lot_id").textContent);
  if (window.location.protocol === "https:") protocol = "wss:";
  const socket_url = `${protocol}//${window.location.host}/bid/${lot_id}/`;
  const bidInput = document.querySelector("#bid-move-amt");
  const bidBtn = document.querySelector("#bid-btn");
  let lotPrice = Number("{{ lot.price }}");
  const lotIncrementalValue = Number("{{ lot.increment }}");
  const biddersDisplayBox = document.querySelector("#bidders-display-box");

  const socket = new WebSocket(socket_url);

  socket.onopen = function (e) {
    socket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      const bids = data.bids;

      if (data.type === "bids") {
        let bidders = "";
        for (let index in bids) {
          bidders += `<tr>
          <td class="sn">${Number(index) + 1}.</td>
          <td>${bids[index].bidder}</td>
          <td>$ ${bids[index].bid}</td>
          </tr>`;
        }
        biddersDisplayBox.innerHTML = bidders;
      }
    };
  };

  bidBtn.addEventListener("click", (e) => {
    fetch(`http://${window.location.host}/get-lot-price/{{ lot.id }}/`)
      .then((response) => response.json())
      .then((data) => {
        lotPrice = data.lot_price;
        let setBid = bidInput.value;
        let bid = Number(setBid);

        if (bid <= lotPrice && setBid !== "") {
          // do validation here
          alert("Amount too small");
          return;
        }

        if (setBid === "") {
          bid = lotPrice + lotIncrementalValue;
        }

        console.log(bid, lotPrice);

        socket.send(
          JSON.stringify({
            bid: bid,
          })
        );
      });
  });
</script>

<script>
  const getLotEndtimeUrl = `http://${window.location.host}/has-expired/{{ lot.id }}/`;
  let interval;

  function lot_has_ended() {
    interval = window.setInterval(() => {
      fetch(getLotEndtimeUrl)
        .then((resp) => resp.json())
        .then((data) => {
          if (data.has_ended) {
            window.clearInterval(interval);
            mark_lot_as_sold(lot_id);
            window.location.href = "/";
          }
        });
    }, 1000);
  }

  lot_has_ended();

  function mark_lot_as_sold(lot_id) {
    const markAsSoldURL = `http://localhost:8000/mark-lot-as-sold/${lot_id}/`;
    fetch(markAsSoldURL);
  }
</script>

{% endblock %}
