{% extends "auction/base.html" %}
{% block title %} {{ lot.name }} Bid {% endblock %}

{% block content %}

<section class="main mob-mrg-top">
  {{ lot.id|json_script:"lot_id" }}

  <div class="slideshow fade">
    {% for img in lot.lotimage_set.all %}
    <div class="slide">
      <img src="{{ img.image_url }}" alt="lot-img">
    </div>
    {% endfor %}

    <a class="Back" onclick="plusSlides(-1)">&#10094;</a>
    <a class="forward" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <div style="text-align:center">
    {% for img in lot.lotimage_set.all %}
    <span class="dots" onclick="currentSlide({{ forloop.counter }})"></span>
    {% endfor %}
  </div>

  <h1>{{ lot.name }}</h1>
  <p class="lot-desc">
    {{ lot.description }}
  </p>

  <div class="bids-display">
    <table>
      <thead>
        <tr>
          <th class="sn">S/N</th>
          <th>Bidders</th>
          <th>Bids</th>
        </tr>
      </thead>
      <tbody id="bidders-display-box"></tbody>
    </table>
  </div>
  <button id="bid-btn" class="bid-incrementer">
    Place Bid +$ {{ lot.increment|floatformat:"-3g" }}
  </button>
  <input
  type="number"
  placeholder="Enter a larger bid..."
  id="bid-move-amt" />
</section>

<script>
const origin = window.location.origin;

let protocol = "ws:";
const lot_id = JSON.parse(document.getElementById("lot_id").textContent);
if (window.location.protocol === "https:") protocol = "wss:";
const socket_url = `${protocol}//${window.location.host}/bid/${lot_id}/`;
const bidInput = document.querySelector("#bid-move-amt");
const bidBtn = document.querySelector("#bid-btn");
let lotPrice = Number("{{ lot.price }}");
const lotIncrementalValue = Number("{{ lot.increment }}");
const biddersDisplayBox = document.querySelector("#bidders-display-box");

const socket = new WebSocket(socket_url);

socket.onopen = function (e) {
socket.onmessage = function (e) {
const data = JSON.parse(e.data);
const bids = data.bids;

if (data.type === "bids") {
let bidders = "";
for (let index in bids) {
bidders += `<tr>
<td class="sn">${Number(index) + 1}.</td>
<td>${bids[index].bidder}</td>
<td>$ ${bids[index].bid}</td>
</tr>`;
}
biddersDisplayBox.innerHTML = bidders;
}
};
};

bidBtn.addEventListener("click", (e) => {
fetch(`${origin}/get-lot-price/{{ lot.id }}/`)
.then((response) => response.json())
.then((data) => {
lotPrice = data.lot_price;
let setBid = bidInput.value;
let bid = Number(setBid);

if (bid <= lotPrice && setBid !== "") {
// do validation here
alert("Amount too small");
return;
}

if (setBid === "") {
bid = lotPrice + lotIncrementalValue;
}

console.log(bid, lotPrice);

socket.send(
JSON.stringify({
bid: bid,
})
);
});
});
</script>

<script>
const getLotEndtimeUrl = `${origin}/has-expired/{{ lot.id }}/`;
let interval;

function lot_has_ended() {
interval = window.setInterval(() => {
fetch(getLotEndtimeUrl)
.then((resp) => resp.json())
.then((data) => {
if (data.has_ended) {
window.clearInterval(interval);
mark_lot_as_sold(lot_id);
window.location.href = "/";
}
});
}, 1000);
}

lot_has_ended();

function mark_lot_as_sold(lot_id) {
const markAsSoldURL = `${origin}/mark-lot-as-sold/${lot_id}/`;
fetch(markAsSoldURL);
}
</script>

{% endblock %}